<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del monumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ monument.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Latitud: {{monument.latitude }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Longitud: {{ monument.longitude }}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-item *ngIf="monument.telefono != '0'">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>{{ monument.telefono }}</ion-label>
        <ion-button color="success" (click)="makeCall(monument.telefono)">Llamar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="monument.via">
    <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Localización del monumento</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label>{{ monument.via.codtipovia }} {{ monument.via.traducnooficial }}</ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label color="danger" *ngIf="!monument.visitado">
        <ion-avatar slot="start">
          <img src="../../assets/not_visited.png">
        </ion-avatar>
        Usted aún no ha visitado este lugar
      </ion-label>
    
      <ion-label color="success" *ngIf="monument.visitado">
        <ion-avatar slot="start">
          <img src="../../assets/visited.png">
        </ion-avatar>
        Usted ya ha visitado este lugar
      </ion-label>
    </ion-card-content>
    <ion-toggle color="secondary" (click)="changeVisitado(monument.visitado)"></ion-toggle>
  </ion-card>

</ion-content>