<ion-header>
  <ion-toolbar>
    <ion-title>
      Información GoVLC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="../../assets/map_parking_icon-01.png">
      <ion-card-header>
        <ion-card-title>Aplicación GoVLC</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          Esta aplicación ofrece información de los monumentos de Valencia, podrás
          observar donde se encuentran tus monumentos favoritos.
      </ion-card-content>
    </ion-card>
</ion-content>
