<ion-header>
  <ion-toolbar>
    <ion-title>
      Información GoVLC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="../../assets/images/logo_govlc.png">
      <ion-card-header>
        <ion-card-title>Aplicación GoVLC</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          Esta aplicación ofrece información de los monumentos de Valencia, podrás
          observar donde se encuentran tus monumentos favoritos.
      </ion-card-content>
    </ion-card>

      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="ios-arrow-down"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
              <ion-fab-button (click)="seeVisited()" color="success">
                <ion-icon name="ios-list-box"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="search()" color="success">
                <ion-icon name="ios-search" ></ion-icon>
              </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
</ion-content>
